

body{
  background-color: #FAFAF8;
  margin:0;
  padding: 0;
}

/* header section */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100vw;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  gap: .7rem;
  background-color: white;
}

header > h1 {
  font-size: 2rem;
  font-weight: 400;
  /* padding-left: 1rem; */
}

header > img {
  width: 2.7rem;
  height: 3.25rem;
}

 /* form section */
 main{
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  /* width: 50vw; */
  /* height: 100vh; */
 }

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  gap: 2rem;
  width: 100vw;
  height: 2.4rem;
  }

 form > input {
  padding: .5rem .8rem ;
  width: 25rem;
  height: 1.5rem;
  border: 1px solid #D1D5DB;
  border-radius: .4rem;
 }

form > button {
  background: #141413;
  padding: .5rem .8rem;
  width: 11.5rem;
  height: 2.6rem;
  color: #FAFAF8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 500;
 }

.ingredient-container{
  width: 37rem;
  height: 23rem;

}

.get-recipe-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.8rem;
  background-color: #F0EFEB;
  /* padding: .3rem 5rem; */
  border-radius: .5rem;
}

.ingredient-container > h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 30px;
}

.ingredient-list{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  color: #475467;
}

.get-recipe-container > div{
  padding-right: 3rem;
  
}

.get-recipe-container > div > h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  color: #141413;
}

.get-recipe-container > div > p {
  font-size: .8rem;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  color: #6B7280;
  
}

.get-recipe-container > button{
  width: 7rem;
  height: 2.3rem;
  border-radius: .375rem;
  border: none;
  background-color: #D17557;
  color: #FAFAF8;
  font-size: .8rem;
  font-weight: 500;
  line-height: 20px;
}

/* recipe container */

.recipe-container{
  width: 37rem;
  height: 23rem;
}

.suggested-recipe-container{
  color: #475467;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
}

